<a href="https://colab.research.google.com/github/ckrihub/bridge-sessions/blob/main/Data_Processing_with_Python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [ ]:
stockmarket_data = pd.Series(np.random.randn(1000))

In [ ]:
stockmarket_cumulative = stockmarket_data.cumsum()

In [ ]:
stockmarket_cumulative.plot()

In [ ]:
stock_prices = pd.DataFrame(np.random.randn(1000, 3))

In [ ]:
stock_prices

In [ ]:
stock_prices.columns = ['India', 'Pakistan', 'Bhutan']

In [ ]:
stock_prices

In [ ]:
stock_prices.index = pd.date_range('1/1/2018', periods=1000)

In [ ]:
stock_prices

In [ ]:
stock_prices.to_csv('stock.csv')

In [ ]:
stock_prices_cumulative = stock_prices.cumsum()

In [ ]:
stock_prices_cumulative.plot()

In [ ]:
!wget https://raw.githubusercontent.com/ckrihub/bridge-sessions/main/ToyotaCorolla.csv

In [ ]:
car_data = pd.read_csv('ToyotaCorolla.csv')

In [ ]:
car_data.tail()

In [ ]:
car_data.describe()

In [ ]:
car_data.sort_values('Price', inplace=True)

In [ ]:
car_data

In [ ]:
plt.hist(car_data['Price'], bins=100)

In [ ]:
sns.lmplot(x='Price', y='Age', data=car_data, hue='FuelType')

In [ ]:
sns.pairplot(car_data, hue='FuelType')